[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
pyyaml = "*"
requests = "*"
termcolor = "*"
psutil = "*"
urlparse3 = "*"
tldextract = "*"

[dev-packages]

[requires]
python_version = "2.7"
